@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body{
  background-image: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 100vh;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 80vw;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  box-shadow: 10px 10px 10px -10px rgb(151, 151, 151);
}

.panel,
.panel-hidden
{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60vh;
  width: 30vw;
  background-color: white;
  border-radius: 10px;
  z-index: 2;
}

.panel h1,
.panel-hidden h1
{
  color: darkblue;
  text-align: center;
  padding: 10px;
}

.panel p,
.panel-hidden p
{
  text-align: center;
  margin-bottom: 15px;
}

.icon-box{
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100%;
}

svg{
  height: 30px;
  width: 30px;
  color: darkblue;
  margin-right: 5px;
  transition: 0.5s ease;
}

svg:hover{
  height: 40px;
  width: 40px;
}

.form{
  height: 60vh;
  width: 40vw;
  text-align: center;
  z-index: 0;
}

.form h1{
  font-size: 50px;
  color: darkblue;
  font-weight: bolder;
  margin-bottom: 100px;
}

.subcontainer {
  position: relative;
}

.form input {
  height: 5vh;
  width: 20vw !important;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px white;
  box-shadow: 4px 5px 15px -15px rgb(151, 151, 151) inset;
}

.form a{
  text-decoration: none;
  color: darkblue;
}

.subcontainer p {
  position: absolute;
  top: 20px;
  left: 160px;
  margin: 0;
  color: darkblue;
  text-transform: uppercase;
  transition: 0.5s;
}

.submit,.register{
  padding: 20px;
  display: flex;
  justify-content: center;
}

#register-button,
#sign-button
{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240) !important;
  box-shadow: 4px 5px 15px -15px rgb(0, 0, 0);
  border-radius: 30px;
  height: 7vh;
  width: 15vw;
}

#register-button p,
#sign-button p
{
  margin-top: 15px;
  text-align: center;
  color: darkblue;
}

#register-button:hover,
#sign-button:hover
{
  opacity: 0.7;
}

#button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white !important;
  box-shadow: 4px 5px 15px -15px rgb(0, 0, 0);
  border-radius: 30px;
  height: 7vh;
  width: 15vw;
}

#button:hover{
  opacity: 0.7;
}

#button p{
  text-align: center;
  color: darkblue;
}

.subcontainer input:valid ~ p,
.subcontainer input:focus ~ p
{
  font-size: 0.65rem;
  transform: translateX(15px) translateY(-35px);
}

.transitionPanel{
  transition: 2s;
  transform: translateX(680px);
}

.defaultPanel{
  transition: 2s;
  transform: translateX(0px);
}

.transitionForm{
  transition: 2s;
  transform: translateX(-590px);
}

.defaultForm{
  transition: 2s;
  transform: translateX(0px);
}

.panel-hidden{
  z-index: 1;
  position: absolute;
  bottom: 150px;
  left: 192px;
}

.hide{
  z-index: 1;
  opacity: 0.5;
}

.show{
  z-index: 2;
  opacity: 1;
}